.promo {
  position: relative;
  // background-color: $color-bluelight;
  // min-height: 860px;
}

// .promo__img {
// position: absolute;
// z-index: -1;
// }

.promo__bar {
  width: 412px;
}

// .promo__text {
//   margin-bottom: 39px;
// }

.promo__link {
  padding: 30px 179px 30px 40px;
  margin-top: 39px;
}
